<!DOCTYPE html>
<!-- telling html to load static files -->
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY PICTURE </title>
    <!-- linking the css file -->
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
</head>
<body>
    <h1>Hello this is Samyak Gaur!</h1><br>
    <!-- syntax to inject image in html file-->
    <img src="{% static "images/samyakgaur.jpg"%}" height="100px" width="100px">
</body>
</html>